.skills{
    /* border: 2px solid black; */
    padding: 50px 30px ;
}
.category{
    /* border: 2px solid green; */
    margin: 5px 40px;
}
.category h2{
    font-size: 25px;
    color: #7091E6;
}
.skill{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid blue; */
    flex-wrap: wrap;
}
.skill h4{
    font-size: 20px;
    width: 40%;
    background-color: #adbbda4d;
    padding: 15px;
    border-radius: 15px;
    margin: 5px 10px ;
    cursor: pointer;
    transition: all 0.3s linear;
}
@media (max-width: 768px) {
    .skills{
        padding: 25px 20px ;
    }
    .category{
        margin: 5px 20px;
    }
    .category h2{
        font-size: 20px;
    }
    .skill h4{
        font-size: 14px;
        width: 35%;
        padding: 10px;
        margin: 5px 8px ;
    }
}